@model StudentManagementSystem.Models.Student
@{
    ViewData["Title"] = "Edit Student";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header text-white" style="background-color:#0d6f6a;">
            <h4>Edit Student</h4>
        </div>

        <div class="card-body">

            @using (Html.BeginForm("Edit", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.StudentId)

                <div class="mb-3">
                    @Html.LabelFor(m => m.EnrollmentNo)
                    @Html.TextBoxFor(m => m.EnrollmentNo, new { @class = "form-control" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.User.FullName)
                    @Html.TextBoxFor(m => m.User.FullName, new { @class = "form-control" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.User.Email)
                    @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Course, "Course")
                    @Html.DropDownListFor(
                    m => m.Course,
                                new List<SelectListItem>
                                {
                                new SelectListItem { Text = "Select Course", Value = "" },
                                new SelectListItem { Text = "BCA", Value = "BCA" },
                                new SelectListItem { Text = "BSc IT", Value = "BSc IT" },
                                new SelectListItem { Text = "BCom", Value = "BCom" },
                                new SelectListItem { Text = "BBA", Value = "BBA" }
                                },
                                new { @class = "form-select" }
                                )
            </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.DOB)
                    @Html.TextBoxFor(m => m.DOB, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                </div>

                <div class="mb-3">
                    <label class="form-label">Photo</label>
                    <input type="file" name="PhotoFile" class="form-control" />
                </div>

                <button type="submit" class="btn text-white" style="background-color:#0d6f6a;">
                    OK
                </button>

                <a asp-action="Index" class="btn btn-secondary">
                    Cancel
                </a>
            }
        </div>
    </div>
</div>